<table width="97%" dir="ltr" style="border:0mx;" border="0" align="center" >

<tr>

<td class="thead"><span style="float:right; direction:rtl">{lang.profile} :  {Profile.Username}</span></td>

</tr>

<tr>

<td class="tct">

<div style="float:left; width:auto;">

{Profile.Avatar}

</div>

<div style="float:right;">

{Profile.Username} &nbsp;&nbsp;{Profile.Online} <br />

{Profile.Usertitle} <br />

<img src="{Profile.Userstars}" />

</div>

</td>

</tr>

</table>

<table width="97%" dir="ltr" style="border:0mx;" border="0" align="center" >

<tr>

<td class="thead"><span style="float:right; direction:rtl">{lang.user_stats} {Profile.Username}</span></td>

</tr>

<tr>

<td class="tct">

<div style="direction:rtl">

رقم العضوية : {Profile.Userid} <br />

مواضيع العضو  : {Profile.Numberoftheards} <br />

ردود العضو : {Profile.Numberofposts} <br />

تاريخ تسجيل :{Profile.Joindate} <br />

تاريخ أخر دخول : {Profile.lastloggedin} <br />

العمر : {Profile.Userage} <br />

الجنس : {Profile.Usersex} <br />

البلد : {Profile.Country} <br />

</div>

</td>

</tr>

</table>

<table width="97%" dir="ltr" style="border:0mx;" border="0" align="center" >

<tr>

<td class="thead"><span style="float:right; direction:rtl">{lang.user_sig} {Profile.Username}</span></td>

</tr>

<tr>

<td class="tct">

<div style="direction:rtl">

{Profile.Signature}

</div>

</td>

</tr>

</table>

<table width="97%" dir="ltr" style="border:0mx;" border="0" align="center" >

<tr>

<td class="thead"><span style="float:right; direction:rtl">{lang.user_call} {Profile.Username}</span></td>

</tr>

<tr>

<td class="tct">

<div style="direction:rtl">

<a href="page=usercp&act=send&id={Profile.Userid}">عن طريق الرسائل الخاصة</a> <br />

<a href="mailto:{Profile.Email}">عن طريق البريد الإلكتروني</a> <br />

</div>

</td>

</tr>

</table>