
<form method="post" id="signup_form" name="signup">

<table border="0" width="95%"  align="center">

<tr>

<td colspan="2" class="thead" >{lang.forum_signup} {$ForumName}</td>

</tr>

<tr>

<td class="tct">{lang.username}</td>

<td class="tct"><input type="text" name="username" onblur="return user_finde()" id="username" /><span id="userfinde"></span>

<tr>

<td class="tct">{lang.password}</td>

<td class="tct"><input type="password" onblur="return passvild()"  name="password" id="password" /> <span id="passvild"></span></td>

</tr>

<tr>

<td class="tct">{lang.repassword}</td>

<td class="tct"><input type="password" name="repass" id="repass" /></td>

</tr>

<tr>

<tr>

<td class="tct">{lang.yourEmail}</td>

<td class="tct"><input type="text" name="email" id="email" /></td>

</tr>

<tr>

<td class="tct">{lang.send}</td>

<td class="tct"><input type="submit" name="adduser" onclick="return send_data()" value="{lang.send_signup}" /></td>

</tr>

</table>

</form>