<form name="upload" method="post" enctype="multipart/form-data">

<table border="0"  width="96%" align="center">

<tr>

<td class="thead" colspan="2">{lang.upload_file}</td>

</tr>

<tr>

<td class="tool">{lang.upload_types}</td>

<td class="tool">

{$attachments_types}

</td>

</tr>

<tr>

<td class="tct">{lang.upload_select}</td>

<td class="tct"><input type="file" name="file" /></td>

</tr>

<tr>

<td class="tct">{lang.upload}</td>

<td class="tct"><input type="submit" name="upattach" value="{lang.upload}" /></td>

</tr>

</table>

</form>