<table width="99%" align="center" >
<tr><td class="thead">{lang.usercp}</td></tr>
<tr><td class="tool"><a href="?action=profile&uid={$UserId}">{lang.profile}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=options">{lang.usercp_options}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=profile">{lang.usercp_profile}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=avatar">{lang.usercp_avatar}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=signt">{lang.usercp_sig}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=password">{lang.usercp_password}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=email">{lang.usercp_email}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=inputs">{lang.usercp_inputs}</a></td></tr>
<tr><td class="tool">{lang.usercp_pm}</td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=sendpm">{lang.usercp_sendpm}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=pm&act=new">{lang.usercp_inbox}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=pm&act=old">{lang.usercp_readed}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=sent">{lang.usercp_sent}</a></td></tr>
<tr><td class="tool">{lang.usercp_more}</td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=friends">{lang.usercp_friends}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=reputations">{lang.usercp_reputations}</a></td></tr>
<tr><td class="tct"><a href="index.php?action=usercp&do=attachments">{lang.usercp_attachments}</a></td></tr>
</table>