<!-- Page End [Don't Remove] -->
</div>

<div class="footer">

    <div style="float:left;">
    {StyleMenu} {JumpMenu}
    </div>
    
	<div class="footer-links">
		<a href="index.php">{lang.home}</a>
  		<a href="index.php?action=portal">{lang.portal}</a>
		<a href="index.php?action=search">{lang.search}</a>
		<a href="index.php?action=members">{lang.members}</a>
		<a href="index.php?action=contact">{lang.contact}</a>    
    </div>
   
   	<div style="clear:both; text-align:center;">{lang.copyrights} {$ForumName}</div>
	    
</div>
