<form method="post">
<table border="0" width="97%"  align="center" id="UsercpProfile" cellpadding="0" cellspacing="0">
<tr>
<td colspan="2" class="thead"><div>{lang.usercp_options}</div></td>
</tr>
<tr>
<td class="tct" width="30%">{lang.usercp_yourstyle}</td>
<td class="tct">
<select name="option_yourstyle">
<option value="0">{lang.default_style}</option>
{$GetStylesList}
</select>
</td>
</tr>
<tr>
<td class="tct">{lang.usercp_view_online}</td>
<td class="tct">
<select name="option_online">
<option value="0">{lang.no}</option>
<option value="1">{lang.yes}</option>
</select>
</td>
</tr>
<tr>
<td class="tct">{lang.usercp_getpm}</td>
<td class="tct">
<select name="option_getpm">
<option value="0">{lang.yes}</option>
<option value="1">{lang.no}</option>
</select>
</td>
</tr>
<tr>
<td class="tct">{lang.usercp_getgm}</td>
<td class="tct">
<select name="option_getgm">
<option value="0">{lang.yes}</option>
<option value="1">{lang.no}</option>
</select>
</td>
</tr>
</table>
<div align="center"><input type="submit" name="edit_options" value="{lang.usercp_edit}" /></div>
</form>