body {
	
	margin:0px;
	
	padding:0px;
	
	font-size:12px;

	font-weight:normal;
	
	font-family:Tahoma, Geneva, sans-serif;
	
	background:#000 url(../bgtop.jpg) top center no-repeat fixed;

	color:#fff;
}

a:link, body_alink
{
color:#fff;
	text-decoration: none;
}
a:visited, body_avisited
{
color:#fff;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
color:#fff;
	text-decoration: none;
}
p{
	margin:0px;	
}
#content {

	margin-bottom:0px;
	margin-top:0px;
color:#5a5a5a;

}

#page {

	background:url(../cont_bg.png);
	width: 950px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	border-radius:0px 0px 4px 4px;
	-moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	margin-bottom:10px;

}


#UserBar{
	padding:5px;
	margin:3px;
}
#UserBar a{
	color:#fff;
}
#header #headbar {
	background:#444;
	padding:10px;
	margin:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.loggedMsg{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background:#f5f5f5;
	color:#000;
	padding:7px;

}
.loggedMsg a{color:#000;}
#header #headbar a{
	font-weight:bold;
}
#Logo{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:0px;
	width:850px;
	margin:auto;
	-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	}
.UserArea{

	padding:0px;
	margin:0px;
	background:#666;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
}
#headbar ul {

	margin: 0;
	padding: 0;
	list-style: none;
	display:block;
	padding:7px;
	margin-right:20px;

}
#Logo{
	text-align:center;
}
#headbar ul li {
	display:inline;
}

#headbar ul li a{
	color:#fff;
	padding:7px;
}

#headbar ul li a:hover {
		background:#fff;
		color:#244156;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius:2px;
}
/* NavBar Box */

.navbar{
background:#fff;
background: -moz-linear-gradient(top, #fff 0%, #f6f6f6 70%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#f6f6f6), color-stop(100%,#ededed));
padding:10px;
margin:2px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border:solid 1px #EBEBEB;
	
}

.navbar a{

	color:#5a5a5a;
	font-weight:normal;
}

.footer {
	
	background:#fff;
	padding:5px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	text-align:right;
	font-size: small;
	padding:10px;
	font-family: Tahoma;
	color:#242424;
	text-shadow: #EBEBEB 1px 1px 1px;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 5px 9px rgba(0,0,0,0.1);
	-moz-box-shadow:0 5px 9px rgba(0,0,0,0.1);
	box-shadow:0 5px 9px rgba(0,0,0,0.1);
	color:#5a5a5a;


}

.footer a{

	color:#242424;

}

.tct{
	background: #101010 url(../trow_bg.jpg) repeat-x;
	border-left: 1px solid #202020;
    border-top: 1px solid #202020;
    padding: 5px;
	color:#999;
}

.tct a{

	color:#fff;
}

table {
	background: #000;
	width: 100%;
	margin: auto auto;
}

#Rule{
	background:#f7fbfc;
	border:1px solid #E2E2E2;
	padding:5px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:3px;
	margin-right:3px;
	text-align:right;
	font-size: small;
	padding:10px;
	font-family: Tahoma;
	color:#242424;
	text-shadow: #EBEBEB 1px 1px 1px;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#5a5a5a;
	
}

.thead {
	background: #1a1b1b url(../thead2_bg.gif) top left;
	color: #909090;
	padding: 5px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;

}

.tool {
	
	background: #121212;
	color: #fff;
        padding: 2px 5px 2px 5px;
        font-size: 10px;
}

.tool a{

	color:#1d3652;

}

.thead a { color:#fff;}

.Tabletitle{

	background:url(../wb_bg.png);
	padding:5px;
	border:1px solid #999;
	color:#000;
}

.Tabletitle a{

	color:#000;	

}

.TheardD{
	width:250px;
	float:left;
	margin:5px;
	padding:7px;
	display:block;
	background:#fff;	
}
.TheardD img{
	margin-left:3px;	
}
.TheardD a{
	padding:5px;
	font-weight:bold;
	border-right:3px solid #7B7B7B;
	display:block;
	color:#000;
}
/* Show Post And Theard */

.span{

	display:block;

	background: #eee url('../bg-1.png');

	background-position:bottom;

	background-repeat:repeat-x;

	background-color:#fff;

	padding:5px;

	border-radius: 3px;

	-moz-border-radius:3px;

	-webkit-border-radius:3px;

	text-align:center;
	
	border:solid 1px #D3D3D3;

	color:#666;
}

.UserPost a{

	font-weight:600;

	font-size:14px;	

}

.text{

	background:#F3F3F3;

	color:#666;

	font-family:Tahoma, Geneva, sans-serif;

	font-weight:normal;

	font-size:12px;

	text-shadow: 1px 1px 1px #fff;

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	padding:9px;
	display:block;
	border:solid 1px #EBEBEB;
	margin:4px;
	}

#AlertSystem{

	background:#666;

	padding:10px;

	margin:3px;

	position:fixed;

	top:0px;

	left:0px;

	text-align:center;

	border:solid 4px #CCC;

	border-radius: 3px;

	-moz-border-radius:3px;

	-webkit-border-radius:3px;

	color:#f8f8f8;

}

input[type=text],input[type=password]{
	background:#f5f5f5;
	padding:5px;
	border:1px solid #999;
	color:#000;
	text-align:center;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin:2px;
	text-shadow:1px 1px 1px #fff;
}

input[type=submit],input[type=button],button,input[type=reset]{
	background:url(../b-1.png);
	padding:5px;
	border:1px solid #999;
	-moz-box-shadow:inset 0px 2px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0px 2px 0px rgba(255,255,255,0.5);
	box-shadow:inset 0px 2px 0px rgba(255,255,255,0.5);
	width:auto;
	text-align:center;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:1px 1px 1px #f5f5f5;

}

textarea,.editor{

	padding:1px;

	background:#fff;

	color:#000;

	font-size:16px;
	
	font-family:Arial, Helvetica, sans-serif;
	
	direction:rtl;
	
	text-align:right;
	
	font-weight:bold;
	
	margin:1px;

	border:solid 1px #EAEAEA;
	
	height:100%;
	
	width:99%;

}

select{
	background:#f5f5f5;
	padding:5px;
	width:150px;
	border:1px solid #999;
	color:#000;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:1px 1px 1px #fff;
	margin:2px;
	-moz-box-shadow:inset 0px 2px 0px rgba(116,115,125,0.2);
	-webkit-box-shadow:inset 0px 2px 0px rgba(116,115,125,0.2);
	box-shadow:inset 0px 2px 0px rgba(116,115,125,0.2);
}

input.Input{

	background:#fff;

	padding:1px;

	margin:2px;

	border:0px;

	border-radius: 0px;

	-moz-border-radius: 0px;

	-webkit-border-radius: 0px;	

}

.Icons{
	margin-right:2px;
	margin-left:2px;
	border:0px;
}
/* Buttons */

a.button{

	display:inline-block;

	margin-left:30px;

	margin-bottom:4px;
	background:#666;
	color:#B0B0B0;
	font-family:Tahoma, Geneva, sans-serif;

	font-weight:normal;

	font-size:12px;


	text-shadow: 1px 1px 1px #333;

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	padding:9px;
}

a.button:hover{
	opacity:0.9;
}

a.buttonClosed{

	display:inline-block;

	margin-left:30px;
	background:#C00;
	
	color:#fff;

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	padding:9px;			

}

/*   Tools Box */

.tools{

	background:#f7f7f7;

	border-radius: 10px;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;

	display:block;

	-webkit-transition: all 0.2s ease-in-out;

	-moz-transition: all 0.2s ease-in-out;

	width:250px;
	
	float:right;

	padding:5px;

	text-align:center;

	margin:7px;
}

.tools span{

	margin:7px;
	
	color:red;

}

.ToolsBoxbuttons{

	background:#fff;

	margin:7px;	

	border-radius: 10px;

	-moz-border-radius: 10px;

	-webkit-border-radius: 10px;
	
	color:#000;

}
.ToolsBoxbuttons a{ color:#000; }
.tools .arrow{

	display:inline-block;

	float:left;	

}

.tools .link{

	display:block;

	margin-bottom:4px;

	margin-top:4px;

	padding:5px;

background: rgb(234,15,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(234,15,0,1) 0%, rgba(181,0,3,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,15,0,1)), color-stop(100%,rgba(181,0,3,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0f00', endColorstr='#b50003',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* W3C */

	-moz-border-radius: 7px;

	-webkit-border-radius: 7px;

	border-radius: 7px;

	border:0px;

	width:98%;

	color:#fff;

}

.tools .alink{

	display:block;

	margin-bottom:4px;

	margin-top:4px;

	padding:5px;

background: rgb(234,15,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(234,15,0,1) 0%, rgba(181,0,3,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,15,0,1)), color-stop(100%,rgba(181,0,3,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0f00', endColorstr='#b50003',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(234,15,0,1) 0%,rgba(181,0,3,1) 100%); /* W3C */

	-moz-border-radius: 7px;

	-webkit-border-radius: 7px;

	border-radius: 7px;

	border:0px;

	width:90%;

	color:#fff;

}

#passvild{

/*	width:250px;  */

}

#passvild .bad{

	padding-bottom:4px;

	padding-top:4px;

	padding-right:100px;

	background:red;

	border:solid 1px #900;

}

#passvild .notbad{

	padding-bottom:4px;

	padding-top:4px;

	padding-right:170px;

	background:#6CF;

	border:solid 1px #39C;

}

#passvild .good{

	padding-bottom:4px;

	padding-top:4px;

	padding-right:230px;

	background:#0C3;

	border:solid 1px #060;

}

.red{

	text-align:center;

	padding:5px;

	color:red;

}

.red a{

	

	color:#red;

	

	}

.green{

	text-align:center;

	padding:5px;

	color:green;

}

.green a,.red a{

	color:#green;

}

/* pagination  */

div.pagination {

padding: 3px;

margin: 3px;

}

div.pagination a {

	padding:6px;

	background:#fff;

	margin: 2px;

	border:2px solid #EBEBEB;

	text-decoration: none; /* no underline */

	color: #808080;

}

div.pagination a:hover, div.pagination a:active {

	color: #787878;

}

div.pagination span.current {

	padding:6px;

	margin: 2px;

	color:#565656;

}

div.pagination span.disabled {

	padding:6px;

	margin: 2px;

	color:#565656;

} 

/* Code Box */

.codemain{

	

	background:#E8E8E8;
-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
	padding:2px;

	margin:2px;

	-moz-border-radius: 6px;

	-webkit-border-radius: 6px;

	border-radius: 6px;

	display:block;

	text-indent:inherit;

	text-transform:lowercase;

	direction:ltr;

	text-align:left;

	



}

/* Editor */

.Editor{
}
.Editor .toolbar{
	
}
.Editor .toolbar .button {

	display:inline-block;
	background:#F3F3F3;
	color:#B0B0B0;
	font-family:Tahoma, Geneva, sans-serif;

	font-weight:normal;

	font-size:12px;


	text-shadow: 1px 1px 1px #fff;

	border-radius: 3px;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	padding:5px;
	margin:2px;
}

.Editor .tollbar .button:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
-moz-opacity: 0.6;
}

.Editor .Pop{
	background:#FCFCFC;
	border:solid 1px #EAEAEA;
	padding:3px;
	position:absolute;
	width:300px;
}
.Editorspan{
	margin:2px;
	padding:3px;
	float:right;
	display:inline-block;	
}

/* Theard Icons */

.theard_icons{

	margin:2px;

	border:0xp;

}

.theard_icons:hover{

opacity:0.4;

}

/* Loading */

.loading{

	text-align:center;	

}

.lastpost{

	font-size:12px;

	text-align:right;
	
	padding:6px;

	margin:4px;

	direction:rtl;

	}

.lastpost a{

	color:#fff;	

}

/* Quote Box And Title */

.quote{

	background:#FDFDFD;

-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);

	padding:10px;

	margin-bottom:4px;

	margin-left:4px;

	margin-right:4px;

	margin-top:0px;

	border-bottom:solid 1px #686868;

	border-top:solid 1px #686868;

	border-left:solid 3px #686868;

	border-right:solid 1px #686868;

	background-image:url(../css_img_quote.gif);

	background-position:left top;

	background-repeat:no-repeat;

	text-align:right;

}

.quote_name{

	background:#EBEBEB;
	
-webkit-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
-moz-box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);
box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2), 0px 1px 4px rgba(0,0,0,0.4);

	border-top:solid 1px #686868;

	border-left:solid 3px #686868;

	border-right:solid 1px #686868;

	padding:3px;

	margin-bottom:0px;

	margin-left:4px;

	margin-right:4px;

	margin-top:4px;

	text-align:right;

	direction:rtl;

}

/* Post Tools Box */

.post_tools{

	padding:7px;

	margin:2px;

	background:#FFC;

	border:solid 1px #FC0;

}

.post_tools a{

	padding:6px;

	margin:3px;

	text-align:center;

	background:#FFF;

	border:solid 1px #F4F4F4;	

}

table{

	margin-bottom:2px;

	margin-top:2px;

}



/* Attachments */

.attachments{

	padding:8px;

	margin:2px;

	background-color:#A7A7A7;

	direction:rtl;

	border-radius:15px;

	-moz-border-radius:15px;

	-webkit-border-radius:15px;

}

.attachments .type{

	padding:5px;

	margin:3px;

	background:#fff;

	border-radius:15px;

	-moz-border-radius:15px;

	-webkit-border-radius:15px;	

}

.attachments .downloads{

	padding:5px;

	margin:3px;

	background:#fff;

	border-radius:15px;

	-moz-border-radius:15px;

	-webkit-border-radius:15px;	

}

.attachments .size{

	padding:5px;

	margin:3px;

	background:#fff;

	border-radius:15px;

	-moz-border-radius:15px;

	-webkit-border-radius:15px;	

}

.attachments .name{

	padding:5px;

	margin:3px;

	background:#fff;

	border-radius:15px;

	-moz-border-radius:15px;

	-webkit-border-radius:15px;	

}
.attachments .name a{color:#000;}
/* Online and Offline */

.online{

	background-image:url(../online.png);

	background-repeat:no-repeat;

	background-position:left;

	padding-left:26px;

	padding-bottom:12px;

	display:block;

}

.offline{

	background-image:url(../offline.png);

	background-repeat:no-repeat;

	background-position:left;

	padding-left:26px;

	padding-bottom:12px;

	display:block;



}

/* MyFrindsPage */

.viewfriend{

	padding:2px;

	margin:2px;

	display:inline;

	width:200px;

}

.viewfriend .avatar{

	padding:1px;

	

	border:solid 1px #ccc;	

}

.viewfriend .name{

    background:#FDFDFD;

	width:200px;

	display:block;

	padding:3px;

	border: 2px solid #F8F8F8;	

}

/*  Portal  */

#Portal{
	width:97%;
	margin-left:auto;
	margin-right:auto;	
}

#RightBlocks{

	float:right;

	width:300px;	

}

#LeftBlocks{

	float:left;

	width:200px;	

}

#CenterBlocks{

	margin-left:203px;

	margin-right:303px;	

}

#Portal #Title{
	
	background: #1a1b1b url(../thead2_bg.gif) top left;
	color: #909090;
	padding: 5px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	text-align:center;
	margin-top:5px;
	}

#Portal #Content{
	
	background: #101010 url(../trow_bg.jpg) repeat-x;
	border: 1px solid #202020;
    padding: 5px;
	border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;		
	}

#usercp{
}
#usercp #right{
	float:right;
	width:250px;	
}
#usercp #panel{
	margin-right:255px;	
}

    .slide {
        margin: 10px;
    }
	#tabsSlide ,#tabs {
		width: 80%;
	}
	#tabsSlide #content, #tabs #content  {

background:#777;
border:1px solid #E2E2E2;
padding:10px;
margin:0px;

		}
	#tabsSlide #nav, #tabs #nav {
		width: 80%;
	}
	#tabsSlide #nav li, #tabs #nav li {
		padding: 0;
		float: right;
		margin: 1px 0 -1px 3px;
		list-style:none;
	}
	#tabsSlide #nav li a, #tabs #nav li a {
		display: block;

	background-image: url('../thead.jpg');
	
	background-repeat:repeat-x;
	
	background-position:bottom;

	color:#fff;
	
	padding:7px;
	
	border-top:1px solid #fff;
	border-right:1px solid #E2E2E2;
	border-left:1px solid #E2E2E2;
	border-bottom:1px solid #E2E2E2;	
	margin:0px;
	
	border-radius: 4px 4px 0px 0px;

	-moz-border-radius: 4px 4px 0px 0px;

	-webkit-border-radius: 4px 4px 0px 0px;
	border-spacing:0;
	outline:none;
	text-align:center;

	}
	#tabsSlide #nav li a.current, #tabs #nav li a.current {
	
		
	background:url(../wb_bg.png);
	
	color:#000;
border-top:1px solid #fff;
	border-right:1px solid #E2E2E2;
	border-left:1px solid #E2E2E2;
	border-bottom:1px solid #E2E2E2;	
	padding:7px;

	margin:0px;
	
	border-radius: 4px 4px 0px 0px;

	-moz-border-radius: 4px 4px 0px 0px;

	-webkit-border-radius: 4px 4px 0px 0px;
	border-spacing:0;
	outline:none;
	text-align:center;

	}
	#tabsSlide #content, #tabs #content {
		padding: 10px;
		clear:both;
		text-align: right;
		min-height: 80%;
	}

.moders_list{
	border-left: 2px #181818;
	padding-left:3px;
}
.FMenu{
	background:#fff;
	border:#545454 solid 1px;
	position:absolute;
}
.FMenu .SMenu{
	padding:5px;
	font-weight:bold;
	cursor:pointer;
	margin-top:-2px;
	margin-right:2px;
	width:100px;
	display:none;
}
.FMenu .SMenu:hover{
	background:#7B7B7B;
	color:#fff;	
}