<!-- Start: contnet -->

<div id="content">
{if name="empty({session.username})"}
<div id="loginArea" class="header_loginBox">
<div id="divsize">
<form method="post" action="index.php?action=login">
<table align="center" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td align="right" width="100">{lang.username} : </td>
    <td align="right" ><input type="text" name="username" id="log_username" /></td>
  </tr>
  <tr>
    <td align="right">{lang.password} : </td>
    <td align="right" ><input type="password" name="password" id="log_password" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="right" ><input type="submit" name="login_send" onclick="return login();" value="{lang.signin}" />
</td>
  </tr>
</table>
</form>

</div>
</div>
{/if}
<div class="headerArea">
                    
            <div id="divsize">

<div id="UserBar">

        {if name="empty({session.username})"}
   <a href="index.php?action=register">{lang.signup}</a>
   <a href="#login" onclick="loginDialog()">{lang.login}</a>
        {else}
   <a href="index.php?action=usercp" id="HLink">{lang.usercp}</a>
   <a href="index.php?action=logout" id="HLink">{lang.logout}</a>                    
        {/if}

      		</div>
                    
<div style="clear:both;"></div>
</div>
	<!-- Start: header -->

<div id="header">
    
		<div id="headcont">
        
        <div id="divsize" align="left"><img src="styles/{$stylefolder}/Easyforum-logo.png" /></div>
        
		</div>


<div id="headbar">

		<div id="divsize">
        
				<ul>

					<li><a href="index.php">{lang.home}</a></li>

  					<li><a href="index.php?action=portal">{lang.portal}</a></li>

					<li><a href="index.php?action=search">{lang.search}</a></li>

					<li><a href="index.php?action=members">{lang.members}</a></li>
                               
					{loop name="{vars.prows}" sql="{getpages}"}

					<li><a href="index.php?action=getpage&id={$prows.page_id}">{$prows.page_name}</a></li>

                	{/loop}
 				                
					<li><a href="index.php?action=contact">{lang.contact}</a></li>
                

				</ul>

		</div>
        
 </div>


{if name="!empty({session.username})"}

<div id="divsize" style="margin-bottom:0px; padding:0px;">

    <div class="userAlerts">
        <div class="welcome"><a href="index.php?action=profile&uid={$UserId}">أهلاً وسهلاً بك : {$username}</a></div>
        <div class="alert"><a href="index.php?action=usercp&do=friends" id="HSLink">{$Got.NewFriends} {lang.fwanted}</a> </div>
        <div class="alert"><a href="index.php?action=usercp&do=pm&act=new" id="HSLink">{$Got.Newpm} {lang.pminbox}</a></div>
    </div>

</div>
	
 {else}
 
 <div style="margin-bottom:10px;"></div>
 
{/if}
    </div>
    
 </div>

 <!-- Page Start [Don't Remove] -->
 <div id="page">