<form method="post">

<table border="0" width="95%"  align="center" cellpadding="0" cellspacing="0">

<tr>

<td colspan="2" class="thead"><div>{lang.signin}</div></td>

</tr>

<tr>

<td width="23%" class="tct">{lang.username}</td>

<td width="77%" class="tct"><input type="text" name="username" id="username" /></td>

</tr>

<tr>

<td class="tct">{lang.password}</td>

<td class="tct"><input type="password" name="password" id="password" /></td>

</tr>

<tr>

<td class="tct">{lang.login}</td>

<td class="tct"><input type="submit" name="login_send" value="{lang.signin}" /></td>

</tr>

<tr>

<td colspan="2" class="tool">
<a href="index.php?action=forgot">{lang.forgot}</a>
</td>
</tr>

</table>

</form>