<form name="mergepost" method="post">
<table border="0" width="60%" style="margin-top:30px;" align="center" cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2" class="thead">{lang.theard_merge}</td>
    </tr>
    <tr>
    	<td width="26%" class="formBox">{lang.theard_merge_url}</td>
    	<td width="74%" class="formBox"><input type="text" name="url" /></td>
    </tr>
    <tr>
    	<td class="tct"></td>
		<td class="formBox"><input type="submit" name="post_merge" value="دمج" /></td>
	</tr>
    <tr>
    	<td colspan="2" class="thead">{lang.goTo} <a href="index.php">{lang.home}</a> | <a href="index.php?action=showtheard&tid={$tid}">{lang.goBack}</a></td>
    </tr>
    </table>

</form>