<form method="post">
<table border="0" width="97%"  align="center" id="UsercpPassword" cellpadding="0" cellspacing="0">
<tr>
<td colspan="2" class="thead"><div>{lang.usercp_password}</div></td>
</tr>
<tr>
<td class="tct" width="30%">{lang.usercp_oldpass}</td>
<td class="tct"><input type="password" value="" name="password"/></td>
</tr>
<tr>
<td  class="tct">{lang.usercp_newpass}</td>
<td  class="tct"><input type="password" name="newpass" onblur="return passvild();"  id="password" /> <span id="passvild"></span></td>
</tr>
</table>
<div align="center"><input type="submit" name="edit_password" value="{lang.usercp_edit}" /></div>
</form>