<form method="post">

<table border="0" cellspacing="1" cellpadding="4" class="tborder">

<tr>

<td colspan="2" class="thead">{lang.signin}</td>

</tr>

<tr>

<td class="tct">{lang.username}</td>

<td class="tct"><input type="text" name="username" id="username" /></td>

</tr>

<tr>

<td class="tct">{lang.password}</td>

<td class="tct"><input type="password" name="password" id="password" /></td>

</tr>

<tr>

<td class="tct">{lang.login}</td>

<td class="tct"><input type="submit" name="login_send" value="{lang.signin}" /></td>

</tr>

<tr>

<td colspan="2">
<a href="?action=forgot">{lang.forgot}</a>
</td>
</tr>

</table>

</form>