<table border="0" cellspacing="1" cellpadding="4" class="tborder" style="clear: both;">

<tr>

<td class="thead" colspan="4">{lang.members}</td>

</tr>

<tr>

<td class="tool">{lang.ID}</td>

<td class="tool">{lang.username}</td>

<td class="tool">{lang.signup_date}</td>

<td class="tool">{lang.last_login}</td>

</tr>

{loop name="{vars.row}" sql="{query}"}

<tr>

<td class="tct">{$row.uid}</td>

<td class="tct"><a href="?action=profile&uid={$row.uid}">{$row.username}</a></td>

<td class="tct">{$row.sig_data}</td>

<td class="tct">{$row.lastlogin}</td>

</tr>

{/loop}

<table>