<div style="margin-top:10%"></div>

<form name="movepost" method="post">

  <table border="0" cellspacing="1" cellpadding="4" class="tborder">

    <tr>

      <td colspan="2" class="thead">{lang.theard_move}</td>

    </tr>

    <tr>

    <td class="tct">{lang.select_forum}</td>

    <td class="tct">

<select name="section">
{ForumsList}
</select>

    </td>

    </tr>

    <tr>

<td class="tct" colspan="2"><input type="submit" name="post_move" value="{lang.move}" /></td>

</tr>

    </table>

    <input type="hidden" name="check" value="{Check}" />

</form>