<table border="0" cellspacing="1" cellpadding="4" class="tborder">
<tr>
<td class="thead"><span style="float:right; direction:rtl">{lang.user_stats} {Profile.Username}</span></td>
</tr>
<tr>
<td class="tct">
<div style="direction:rtl">
{lang.user_id} : {Profile.Userid} <br />
{lang.user_mytopics}  : {Profile.Numberoftheards} <br />
{lang.user_myposts} : {Profile.Numberofposts} <br />
{lang.signup_date} :{Profile.Joindate} <br />
{lang.last_login} : {Profile.lastloggedin} <br />
</div>
</td>
</tr>
</table>