<div align="center" id="AddInfo"></div>
<form method="post">
<table border="0" cellspacing="1" cellpadding="4" class="tborder">
<tr>
<td class="thead"><span style="float:right; direction:rtl">{lang.send_msg}</span></td>
</tr>
<tr>
<td class="tct">

<textarea id="text" dir="rtl" name="vistor_msg" rows="3"></textarea>
	
</td>
</tr>
<tr>
<td class="tct">
<fieldset>

<legend>{lang.smileys}</legend>

{loop name="{vars.smile}" sql="{smiles}"}

<img src="{$smile.smile_replace}" onClick="doAddSmiley('{$smile.smile_title}','text');" />

{/loop}

</fieldset>
</td>
</tr>
<tr>
<td class="tct"><input type="submit" value="{lang.send}" onClick="return AddvMsg();" name="add_vistor_msg" /></td>
</tr>
</table>
<input type="hidden" id="to" value="{$uid}" />
<input type="hidden" id="page" value="{$eaf->VistorsTextPager->page}" />
</form>