<form method="post" name="send">

  <table border="0" cellspacing="1" cellpadding="4" class="tborder">

    <tr>

      <td colspan="2" class="thead">{lang.tellFriend}</td>

    </tr>

    <tr>

      <td width="15%" class="tct">{lang.msgTitle}</td>

      <td class="tct">

      <input type="text" name="title" />

      </td>

    </tr>
    
    <tr>

      <td width="15%" class="tct">{lang.tellTo}</td>

      <td class="tct">

      <input type="text" name="to" />

      </td>

    </tr>

    <tr>

      <td class="tct">{lang.yourEmail}</td>

          <td class="tct">

      <input type="text" name="email" /></td>

    </tr>

    <tr>

      <td class="tct">{lang.msgText}</td>

          <td class="tct">

<textarea name="msg" cols="60" rows="5">
{lang.tellText} 
</textarea>

      </td>

    </tr>

    <tr>

      <td class="tct">{lang.send}</td>

      <td class="tct"><input type="submit" name="tell_send" value="{lang.send}" /></td>

    </tr>

  </table>

</form>

