<form method="post">
<table  border="0" cellspacing="1" cellpadding="4" class="tborder">

<tr>

<td class="thead" colspan="2">{lang.usercp_editEmail}</td>

</tr>

<tr>

<td class="tct">{lang.oldEmail}</td>

<td class="tct"><input type="text" name="old" id="email" /></td>

</tr>

<tr>

<td class="tct">{lang.newEmail}</td>

<td class="tct"><input type="text" name="new" id="email" /></td>

</tr>


</table>

<div align="center"><input type="submit" name="edit_email" value="{lang.edit}" /></div>

</form>