<form method="post">
<table border="0" cellspacing="1" cellpadding="4" class="tborder">

<tr>

<td class="thead">{lang.usercp_sig}</td>

</tr>

<td  class="tct">
<script>
	
var Editor_lang = {
'bold' : 'الخط عريض' ,
'Italic' : 'الخط مائل' ,
'Underline' : 'الخط مسطر' ,
'strikethrough' : 'خط في المنتصف' ,
'right' : 'اليمين' ,
'center' : 'الوسط' ,
'left' : 'اليسار' , 
'sub' : 'صغير للاسفل' ,
'sup' : 'صغير للاعلى' ,
'h1' : 'نمط الخط h1' ,
'h2' : 'نمط الخط h2' ,
'h3' : 'نمط الخط h3' ,
'h4' : 'نمط الخط h4' ,
'h5' : 'نمط الخط h5' ,
'h6' : 'نمط الخط h6' ,
'link' : 'إضافة رابط' ,
'email' : 'إضافة بريد الإلكتروني' ,
'image' : 'إضافة صورة' ,
'font' : 'نوع الخط' ,
'color' : 'لون الخط' ,
'size' : 'حجم الخط' ,
'highlight' : 'خلفية الخط' ,
'youtube' : 'اضافة مقطع من اليوتيوب' ,
'flash' : 'اضافة ملف فلاش' ,
'media' : 'اضافة ملف ميديا' ,
'php' : 'كود برمجي php' ,
'html' : 'كود برمجي html' ,
'quote' : 'إقتباس' ,
'eyoutube' : 'ضع رابط ملف اليوتيوب' ,
'elink' : 'ضع الرابط' ,
'ephoto' : 'ضع رابط الصورة' ,
'eemail' : 'ضع البريد الإلكتروني' ,
'eflash' : 'ضع رابط الفلاش' ,
'emedia' : 'ضع رابط الملف' ,
'ewidth' : 'ضع عرض الملف' ,
'eheigth' : 'ضع طول الملف'
};

edToolbar('box_text','full',Editor_lang);

</script>
<textarea name="signt" id="box_text" rows="6" >{Usercp.EditSignature}</textarea>

</td>

</tr>


</table>

<div align="center"><input type="submit" name="edit_signt" value="{lang.usercp_edit}" /></div>


</form>