
<form action="" method="post">

<table border="0" cellspacing="1" cellpadding="4" class="tborder">

  <tr>

    <td colspan="4" class="thead">{lang.usercp_inbox} </td>

  </tr>

  <tr>

    <td class="Tabletitle">{lang.pm_title} </td>

    <td class="Tabletitle">{lang.pm_from} </td>

    <td class="Tabletitle">{lang.pm_date}</td>

    <td class="Tabletitle">{lang.pm_delete}</td>

  </tr>

  {loop name="{vars.newpm}" sql="{eaf.NewPm}"}

  <tr>

    <td class="tct"><a href="index.php?action=usercp&do=showpm&pmid={$newpm.sid}">{$newpm.stitle}</a></td>

    <td class="tct">{$newpm.s_fname}</td>

    <td class="tct">{$newpm.sdata}</td>

    <td class="tct"><input type="checkbox" name="newsid[]" value="{$newpm.sid}" /></td>

  </tr>

  {/loop}

</table>

<br  />

<input type="submit" value="{lang.pm_delete_selected}" name="delete_newpm" /> - 

<input type="reset"  value="{lang.pm_rest}" name="rest" />

</form>

</td>

  </tr>

</table>
