<form method="post">
<table border="0" cellspacing="1" cellpadding="4" class="tborder">

<tr>

<td class="thead" colspan="2">{lang.usercp_password}</td>

</tr>

<tr>

<td class="tct">{lang.usercp_oldpass}</td>

<td class="tct"><input type="password" value="" onblur="return passvild();" name="password" id="password" /> <span id="passvild"></span></td>

</tr>

<tr>

<td  class="tct">{lang.usercp_newpass}</td>

<td  class="tct"><input type="password" name="newpass" id="repass" /></td>

</tr>

</table>

<div align="center"><input type="submit" name="edit_password" value="{lang.usercp_edit}" /></div>

</form>