<form method="post">

<table border="0" cellspacing="1" cellpadding="4" class="tborder">

<tr>

<td class="thead" colspan="2">{lang.usercp_profile}</td>

</tr>


<tr>

<td  class="tct">{lang.usercp_country}</td>	

<td  class="tct"><input type="text" value="{Usercp.Country}" name="cant" id="from" /></td>

</tr>

<tr>

<td  class="tct">{lang.usercp_age}</td>

<td  class="tct"><input type="text" value="{Usercp.Age}"  name="age" id="age" /></td>

</tr>

<tr>

<td  class="tct">{lang.usercp_sex}</td>

<td  class="tct">

<select name="sex">

<option value="{lang.sex_nothing}">{lang.sex_nothing}</option>
<option value="{lang.sex_m}">{lang.sex_m}</option>
<option value="{lang.sex_f}">{lang.sex_f}</option>

</select>

</td>

</tr>

</table>

<div align="center"><input type="submit" name="edit_profile" value="{lang.usercp_edit}" /></div>

</form>