<form method="post" name="send">

  <table width="95%" border="0" align="center" >

    <tr>

      <td colspan="2" class="thead">{lang.contact}</td>

    </tr>

    <tr>

      <td width="15%" class="tct">{lang.msgTitle}</td>

      <td class="tct">

      <input type="text" name="title" />

      </td>

    </tr>

    <tr>

      <td class="tct">{lang.yourEmail}</td>

          <td class="tct">

      <input type="text" name="email" /></td>

    </tr>

    <tr>

      <td class="tct">{lang.msgText}</td>

          <td class="tct">

<textarea name="msg" cols="60" rows="5"></textarea>

      </td>

    </tr>

    <tr>

      <td class="tct">{lang.send}</td>

      <td class="tct"><input type="submit" name="contact_send" value="إرسال الرسالة" /></td>

    </tr>

  </table>

</form>

