<table width="97%" dir="ltr" style="border:0mx;" border="0" align="center" >
<tr>
<td class="thead"><span style="float:right; direction:rtl">{lang.user_call} {Profile.Username}</span></td>
</tr>
<tr>
<td class="tct">
<div style="direction:rtl">
{lang.user_age} : {Profile.Userage} <br />
{lang.user_sex} : {Profile.Usersex} <br />
{lang.user_country} : {Profile.Country} <br />
</div>
</td>
</tr>
</table>
<table width="97%" dir="ltr" style="border:0mx;" border="0" align="center" >
<tr>
<td class="thead"><span style="float:right; direction:rtl">{lang.user_sig} {Profile.Username}</span></td>
</tr>
<tr>
<td class="tct">
<div style="direction:rtl">
{Profile.Signature}
</div>
</td>
</tr>
</table>